#navbar-custom {
}

.navbar-links {
    margin-top:30px
}

.main-section {
}

.connect-section{

}
.connect-icons {
    height:70px;
    width:70px;
    margin:10px;
}

.custom-footer {
    text-align:center;
}

#profile-picture {
    margin-right:15px;
    margin-bottom:15px;
}
